@import "../style/variables";
@import  "../style/mixin";


header{
    border: 2px solid blue;
    //background: var(--header);
    width: 100%;
    @include center(row, center, center);    
    position: sticky;
    top: 0;
    background: transparent;
    padding: 2rem;
    transition: all 1s;
    color: var(--headerText);

    @media (max-width: 1074px){
        padding: 0;
    }
}

header.rolagem{
    padding: 0;
    background: var(--header-bg);

}

.header{
    @include center(row, center, center);
    width: 80%;
    height: 6rem;
    color: var(--headerText);

    &__img-logo{
        width: 4.5rem;
    }
    
    &__nav{
        @include center(row, space-between, center);
        border: 2px solid pink;
        width: 100%;
    }

    &__logo-link{
    @include center(row, space-around);
       width: 100%;
       border: 2px solid green;
    }

    &__ul{
        //border: 2px solid blue;
        @include center(row, space-around);
        width: 70%;
        font-family: font("family");
        
    }
    
    &__button{
        @include button-header();
    }

    #theme-toggle{
        cursor: pointer;
    }

    .navBurger{
        display: none;
    }

    @media (max-width: 1074px){

        .navBurger{
            display: flex;
        }

        &__ul{
            display: none;
        }
    }
}
