@use "../scss/variables";
@use "../scss/mixin";
@use "../scss/animation";

header{
    //border: 2px solid blue;
    @include mixin.center(row, center, center);    
    @include mixin.position(sticky, 0);
    
    background: var(--bg-trasnparent);
    color: var(--headerText);

    width: sizes("full");
    padding: sizes("large");
    transition: padding timing("slow");
    
    @media (max-width: 1100px){
        padding: sizes("none");
    }
}

// aplica o efeito de rolagem no header
header.rolagem{
    padding: sizes("none");

    background: var(--header-bg);
}

// Estilização do header
.header{
    //border: 2px solid pink;
    @include mixin.center(row, center, center);

    color: var(--headerText);

    width: sizes("full") - 20%;
    height: sizes("heightHeader");

    &__nav{
        //border: 2px solid pink;
        @include mixin.center(row-reverse, space-between, center);
        width: sizes("full");
    }

    &__logo-link{
        //border: 2px solid green;
        @include mixin.center(row, space-around);
        width: sizes("full");
        font-family: font("family");
        font-size: clamp(1.5rem, .5cqw, 3rem);
    }
    &__logo-text{
        font-family: font("family");
        font-size: 5rem;
        font-size: clamp(1.5rem, 1.5cqw, 3rem);
    }
    &__img-logo{
        width: sizes("logoHeader");
    }
    



    &__ul{
        //border: 2px solid blue;
        @include mixin.center(row, space-around);
        width: sizes("full") - 30%;
        font-family: font("family");
        font-size: clamp(1.5rem, .5cqw, 3rem);
    }
    
    &__button{
        @include mixin.button-header();
    }

    &__theme-toggle{
        padding: 1rem;
        border: none;
        cursor: pointer;
        background: transparent;
        z-index: 999;
    }

    

    @media (max-width: 1100px){
        width: 100%;

        &__logo-text{
            display: none;
        }

        &__ul{
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            //width: 18%; 
            transform: translateX(-100%);
            @include mixin.center(column, space-around);
            margin-top: sizes("heightHeader");;
            opacity: 1;
            transition: all 1s;
            pointer-events: none;
        
        
            &.active{
                opacity: 1;
                transform: translateX(0%);
                background: var(--bg);
                font-size: 1.5rem;
                pointer-events: auto;
            }
        }

        &__theme-toggle{
            position: absolute;
            top: 0%;
            right: 0%;
            padding: 1rem;
            border: none;
            cursor: pointer;
            background: transparent;
        }
    }

    //animação do hamburger esté em _animation.scss

}


main{
    height: 100vh;
    width: 100vw;
    //border: 2px solid red;
}
