@use "../scss/variables";
@use "../scss/mixin";
@use "../scss/animation";

header{
    //border: 2px solid blue;
    @include mixin.center(row, center, center);    
    @include mixin.position(sticky, 0);
    
    background: var(--bg-trasnparent);
    color: var(--headerText);

    width: sizes("full");
    padding: spacing("40"); //modifiquei
    transition: padding timing("slow");

    font-family: font-family("base");
    
    @media (max-width: 1100px){
        padding: spacing("0"); //modifiquei
    }
}

// aplica o efeito de rolagem no header
header.rolagem{
    padding: spacing("0"); //modifiquei

    background: var(--header-bg);
}

// Estilização do header
.header{
    //border: 2px solid pink;
    @include mixin.center(row, center, center);

    color: var(--headerText);

    width: sizes("full") - 20%;
    height: spacing("96"); //modifiquei

    &__nav{
        //border: 2px solid pink;
        @include mixin.center(row-reverse, space-between, center);
        width: sizes("full");
    }
    
    &__logo-link{
        // border: 2px solid green;
        @include mixin.center(row, space-around);
        width: sizes("full");
    }
    &__logo-text{
        font-size: font-size("600");
        font-weight: font-weight("600");
    }
    &__img-logo{
        width: spacing("64"); //modifiquei
    }
    
    &__ul{
        //border: 2px solid blue;
        @include mixin.center(row, space-around);
        width: sizes("full") - 30%;
        font-size: font-size("600");

        @media (max-width: 1340px) {
            li:nth-child(6),
            li:nth-child(2),
            li:nth-child(3){
                display: none
            }

        }
    }
    
    &__button{
        @include mixin.button-header();
    }

    &__theme-toggle{
        padding: 1rem;
        border: none;
        cursor: pointer;
        background: transparent;
        z-index: 999;
    
    }

    

    @media (max-width: 1100px){
        width: 100%;

        &__logo-text{
            display: none;
        }

        &__ul{
            @include mixin.center(column, space-around);
            @include mixin.position(absolute, 0, null, null, 0);

            width: sizes("half");
            height: sizes("fullVH");
            margin-top: spacing("96"); //modifiquei
            font-size: font-size("400");

            transform: translateX(-100%);
            opacity: 0;
            transition: transform 1s, opacity 1s;
            pointer-events: none;
            box-shadow: 29px 37px 15px -3px rgba(0,0,0,0.1);
        
            &.active{
                background: var(--bg);
                opacity: 1;
                transform: translateX(0%);
                pointer-events: auto;
                transition: transform 1s, opacity 1s;
            }
        }

        &__theme-toggle{
            @include mixin.position(absolute, 0, null, null, 0);
            padding: 1rem;
            border: none;
            cursor: pointer;
            background: var(--bg-trasnparent);
        }
    }

    //animação do hamburger esté em _animation.scss

}
