@use "../scss/variables";
@use "../scss/mixin";
@use "../scss/animation";


main{
	background: rgba(124, 124, 124, 0.068);
	width: 100%;
	height: 50vh;
	@include mixin.center();
}

.main{
	@include mixin.center();
	width: 80%;
	height: 100%;
	border: 2px solid rgb(196, 192, 255);

}


