@use "../scss/variables";
@use "../scss/mixin";
@use "../scss/animation";


main{
	//background: rgba(124, 124, 124, 0.068);

	border: 2px solid green;
	width: sizes("fu");
	@include mixin.center();
	font-family: font-family("base");
	color: var(--mainText)
}

	.home{
		@include mixin.center(row, space-around);
		border: 2px solid rgb(255, 251, 0);
		width: sizes("full") - 20%;
		height: sizes("fullVH") - 20vh;


		&__details{
			@include mixin.center(column, space-around, flex-start, center, 2rem);
			border: 2px solid red;
			width: sizes("half");
			font-family: font-family("base");
			z-index: 1;
		}

		&__me{
			@include mixin.center(column, flex-start, flex-start);
			width: 100%;
		}
		
		&__title{
			border: 2px solid rgb(174, 0, 255);
			width: 100%;
			color: var(--mainText);
			font-size: font-size("title");
			font-weight: font-weight("600");
			text-align: left;
			text-transform: uppercase;

			@media (max-width: 1550px){
				font-size: font-size("900");
			}
		}

		&__span{
			// text-align: flex-start;
			border: 2px solid green;
			color: var(--spanHome);
			font-size: font-size("700");
			font-weight: font-weight("500");

			@media (max-width: 1550px){
				font-size: font-size("500");
			}
		}

		&__button{
			@include button-home();
		}

		&__networks{
			@include mixin.center(null, nul, null, null, 2rem);
			border: 2px solid purple;
			font-size: font-size("900");
		}

		&__icon:hover{
			color: var(--hoverButton);
			font-size: 2.9rem; // preferi não usar map
		}

		&__img{
			border-radius: sizes("radius-sm");
			animation: move timing("slow") linear infinite alternate;
			width:35%;
			z-index: 0;
		}


		@media (max-width: 1100px){
			@include mixin.center(column-reverse, space-around);

			&__details{
				@include mixin.center(column, center, center, center, 2rem);

				background: pink;
				width: 60%;
				border-radius: 2rem;
			}

			&__me{
					@include mixin.center(column, flex-start, center);
					width: 100%;
			}
					
			&__title{
				border: 2px solid rgb(174, 0, 255);
				width: 100%;
				color: var(--mainText);
				font-size: font-size("900");
				font-weight: font-weight("600");
				text-transform: uppercase;
				
				text-align: center;
			}

			&__span{
				border: 2px solid green;
				color: var(--spanHome);
				font-weight: font-weight("500");
				
				font-size: font-size("500");
				text-align: center;
			}

			&__img{
				animation: none;
				width: 100%;
				height: 80%;
				z-index: 0;
				filter: opacity(.1);
				position: absolute;
				top: spacing("96");
				z-index: 0;
			}
		}
	}


#contato{
	height: 100vh;
	width: 100%;
	border: 2px solid red;
}
