@use "../scss/variables";
@use "../scss/mixin";
@use "../scss/animation";

@mixin charts($size: 3rem, $color: #000, $dashoffset: 505, $dasharray: 505){
  fill: none;
  stroke: $color;
  stroke-width: $size;
  stroke-dashoffset: $dashoffset;
  stroke-dasharray: $dasharray;
  stroke-linecap: round;
  animation: fillIn 1s linear forwards;
  transform-origin: center;
  transform: rotate(-90deg);
}

main{
	@include mixin.center(column, center, center, center, 5rem);
	width: sizes("full");
	font-family: font-family("base");
	color: var(--mainText);

	margin-bottom: 5rem;
}

.home{
	@include mixin.center(row, space-around);
	width: sizes("full") - 20%;
	height: sizes("fullVH") - 20vh;

	&__details{
		@include mixin.center(column, space-around, flex-start, center, 2rem);
		width: sizes("half");
		font-family: font-family("base");
		z-index: 1;
	}

	&__me{
		@include mixin.center(column, flex-start, flex-start);
		width: 100%;
	}
	
	&__title{
		width: 100%;
		color: var(--mainText);
		font-size: clamp(2.5rem, 5vw, 6rem);
		font-weight: font-weight("700");
		text-align: left;
		text-transform: uppercase;

		@media(max-width: 1550px){
			font-size: clamp(2.5rem, 5vw, 6rem);
		}
	}

	&__span{
		color: var(--spanHome);
		font-size: font-size("700");
		font-weight: font-weight("500");

		@media (max-width: 1550px){
			font-size: font-size("500");
		}
	}

	&__button{
		@include button-home();
	}

	&__networks{
		@include mixin.center(null, nul, null, null, 2rem);
		font-size: font-size("900");
	}

	&__icon:hover{
		color: var(--hoverButton);
		font-size: 2.9rem; // preferi não usar map
	}

	&__img{
		border-radius: sizes("radius-sm");
		animation: move timing("slow") linear infinite alternate;
		width:35%;
		z-index: 0;
	}

	//Tamanho para tablets
	@media (max-width: breakpoints("tablet")) {
		@include mixin.center(column-reverse, space-around);

		&__details{
			@include mixin.center(column, center, center, center, 2rem);

			background: var(--cardHome);
			width: 60%;
			border-radius: 2rem;
			padding: 2rem;
		}

		&__me{
			@include mixin.center(column, flex-start, center);
			width: 100%;
		}
				
		&__title{
			width: 100%;
			text-align: center;
			transition: font-size 1s;
		}

		&__span{
			color: var(--spanHome);
			font-weight: font-weight("500");
			
			font-size: font-size("500");
			text-align: center;
		}

		&__img{
			animation: none;
			width: 100%;
			height: 80%;
			z-index: 0;
			filter: opacity(.1);
			position: absolute;
			top: spacing("96");
			z-index: 0;
		}
	}

	//Tamanho para smartphones
	@media (max-width: 700px){
		width: 100%;

		&__details{
			width: 100%;
			
			background: transparent;
		}
	}
}

.skills{
	scroll-margin-top: 10rem;
	width: sizes("full") - 20%;
	@include mixin.center(column, center, center, center, 3rem);

	&__about{
		@include mixin.center(column);
	}

	&__img{
		width: sizes("full") - 90%;
	}

	//modifica o __hard tbm
	&__title{
		font-size: clamp(2.5rem, 5vw, 4rem);
	}

	span{
		color: var(--spanHome);
	}

	&__subtitle{
		font-size: clamp(1.2rem, 1.5vw, 1.8rem);
		width: sizes("full") - 30%;
		font-weight: font-weight("500");
		
		line-height: 2.5rem;
	}

	//svg
	&__hard{
		width: sizes("full");
	}

	&__charts{
		@include mixin.center(row, center, center, center);
		flex-wrap: wrap;
	}
	
	&__chart{
		position: relative;
		width: sizes("chart");
		height: sizes("chart");
	}

	&__circle{
		height: sizes("full");
	}

	&__bar, &__bg{
		fill: transparent;
		transition: stroke-dashoffset 2s ease-out;

		stroke-width: 1.5rem;
		transform-origin: 50% 50%;
		stroke-linecap: round;
		transform: rotate(-90deg);
	}

	&__bar {
		stroke: var(--barChart);
	}

	&__bg {
		stroke: var(--bgChart);
	}

	&__porcent{
		@include mixin.position(absolute, 50%, null, null, 50%);
		font-size: font-size("600");
		font-weight: font-weight("600");
		color: var(--hoverButton);

		transform: translate(-50%, -50%);
	}

	@media (max-width: breakpoints("tablet")) {

		&__circle{
			width: sizes("full");
		}

		&__chart{
			width: sizes("chart") / 2;
			height: sizes("chart") / 2;
		}
		&__bar, &__bg {
			scale: scale("scale-xsm");
		}

		&__porcent{
			font-size: clamp(1rem, 1vw, 1.5rem);
		}
	}

	//Tamanho para smartphones
	@media (max-width: breakpoints("smartphone")) {
		width: sizes("full");
		
		&__subtitle{
			width: sizes("full") - 5%;
		}
	}
}

.projects{
	scroll-margin-top: 9rem;
	width: sizes("full");
	@include mixin.center(column, center, center, center);
	background:var(--cardHome);
	position: relative;

	&__container{
		width: sizes("centerScreen");
		height: sizes("full");
		@include mixin.center(column, center, center, center);
		padding: spacing("32") spacing("0");
	}

	&__header{
		width: sizes("centerScreen") ;
	}

	&__texts{
		@include mixin.center(row, space-between, center, center);
	}

	&__title{
		font-size: font-size("variableTitle");
		text-align: start;
	}

	&__subTitle{
		font-size: font-size("variableSubTitle");
		text-align: start;
	}

	//container de button
	&__buttons{
		@include mixin.center(row, flex-start, center, center, 2.5rem);
		flex-wrap: wrap;
		width: sizes("full");
		padding: spacing("32") spacing("0");
	}

	&__button{
		@include mixin.button-project()
	}

	&__move{
		margin-top:spacing("16");
		font-size: font-size("variableSubTitle");
		width: sizes("full") - 30%;
		@include mixin.center(row, flex-start, flex-start);

		// segue o container dos itens
		@media (max-width: 1819px) {
			max-width: 49rem;
		}
		@media (max-width: 1358px) {
			max-width: 33rem;
		}
	}

	&__move button{
		margin-right: spacing("16");
		font-size: font-size("variableSubTitle");
		background: none;
		border: none;
		cursor: pointer;
	}


	//começo da estilização do grid
	&__grid{
		@include mixin.center(row, center, center);
		width: sizes("full") - 30%;
		max-width: 65rem;
		height: 35rem;
		border-radius: 1.5rem;

		position: relative;
		overflow-x: auto;
		box-shadow: inset -1px 9px 45px 0px rgba(0, 0, 0, 0.103);

		// tenta evitar deixar os itens cortados
		@media (max-width: 1819px) {
			max-width: 49rem;
		}
		@media (max-width: 1358px) {
			max-width: 33rem;
		}
	}	

	&__gridCont{
		display: grid;
		
		@include mixin.position(absolute, 50%, null, null, .4rem);
		transform: translate(-0%,-50%);

		justify-items: center;
		/* Configura a grade para ter 2 linhas de altura igual */
		grid-template-rows: repeat(2, minmax(14rem, 1fr));
		grid-auto-flow: column;
		
		/* Define a largura de cada coluna que é adicionada automaticamente */
		grid-auto-columns: minmax(14.5rem, 1fr);
		gap: 1rem 2rem;

		// evita deixar os itens cortados
		@media (max-width: 718px) {
			gap: 1rem;
		}
	}

	&__item{
		width: sizes("full");
		height: 15rem;
		border-radius: sizes("radius-sm");

		background: var(--cardItem);
		background-size: cover;
		background-position: center;
		transition: all timing('fast');

		&:hover{
			transform: translateY(-3%);
			box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
		}

		&:hover img{
			filter: none;
		}

		&:hover .item__button{
			background: var(--hoverButton);
			color: var(--bg);
			transition: all timing('medium');

			cursor: pointer;
		}

	}

	// esta dentro de __item
	.item{
		width: sizes("full");
		height: sizes("full");
		transition: all timing('fast');

		border-radius: 0 1.5rem 1.5rem 1.5rem;
		position: relative;
		
		&__img{
			width: sizes("full");


			height: 60%;
			border-radius: 0 1.5rem 0 0;
			filter: grayscale(1);
		}

		&__language{
			@include mixin.position(absolute, 2%, null, null, 3%)
		}

		&__icon{
			font-size: font-size("600");
			margin-right: spacing("8");
			color: var(--hoverButton);
		}

		&__footer{
			height: 40%;
			@include mixin.center(column, space-around, center)
		}
		&__title{
			font-size: font-size("300");
		}

		button{
			border: none;
			background: none;
		}

		&__button{
			width: sizes("centerScreen");
			font-size: font-size("300");
			padding: spacing("8") spacing("32");
			border-radius: sizes("radius-sm");

			border: none;
			background: #ec3b0f21;
		}
	}



	
	@media (max-width: breakpoints("tablet")) {
		width: sizes("full");

		&__container, &__header{
			width: sizes("full");
		}

		&__texts{
			@include mixin.center(row, space-around, center, center);
		}

		//container de button
		&__buttons{
			@include mixin.center(row, center, center, center, 2.5rem);
		}
	}

	@media (max-width: breakpoints("smartphone")) {

		//container de button
		&__buttons{
			@include mixin.center(row, center, center, center, 1rem);
		}

		&__move{
			display: none;
		}

		&__grid{
			width: 100%;
		}

		&__gridCont{
			@include mixin.position(absolute, 0%, null, null, 50%);
			transform: translate(-50%,0%);
			grid-auto-flow: row;
			width: 100%;
		}
		
		&__item{
			&:hover{
				transform: translateY(0%);
			}
		}

		.item{
			border-radius: 1.5rem;

			&__img{
				border-radius: 1rem 1rem 0 0;
				filter: none;
			}

			&__icon{
				color: var(--footerText);
			}

			&__button{
				background: var(--hoverButton);
				color: var(--bg);
			}
		}
	}

	@media (max-width: breakpoints("smartphoneSmall")) {
		&__container{
			padding: spacing("16");
		}

		&__texts{
			@include mixin.center(column, flex-start, flex-start, center);
		}
	}
}

.techs{
	scroll-margin-top: 10rem;
	width: sizes("full");
	padding: spacing("64") 0;
	@include mixin.center(column, center, center, center, 3rem);
	// background:var(--cardHome);
	
	&__title{
		font-size: font-size("variableTitle");
		margin-bottom: spacing("32");
		
		span{
			color: var(--spanHome);
		}
	}
	
	&__subText{
		font-size: font-size("variableSubText");
		font-weight: font-weight("600");
	}
	
	&__subTitle{
		font-size: font-size("variableSubTitle");
		font-weight: font-weight("600");

		span{
			color: var(--spanHome);
		}
	}

	&__list{
		@include mixin.center();
	}
	
	&__icon{
		@include mixin.iconAnimate(10%,15%);
		margin: spacing("16");
		cursor: pointer;
	}

	.fa-react{
		@include mixin.iconAnimate(26%,28%);
	}

	@media (max-width: breakpoints("tablet")) {
		padding: spacing("8");
	}
}

.footer{
	background: var(--footer-bg);
	height: sizes("full");
	@include mixin.center(column, center, center);
	font-family: font-family("base");

	&__container{
		width: sizes("half");
		height: sizes("full");
		@include mixin.center(row, center);
	}
	
	&__secondCont{
		@include mixin.center(row, space-around, flex-start, center, 2rem);
	}

	&__about{
		width: sizes("full");
		@include mixin.center(column, space-around, flex-start, center, 2rem);
	}

	&__contact{
		@include mixin.center(column, center, flex-start, center, 2rem);
		width: sizes("full");
	}

	&__follow{
		@include mixin.center(column, space-around, flex-start, center, 2rem);
		width: sizes("half");
	}

	&__title{
		font-size: font-size("variableSubTitle");
		font-weight: font-weight("600");
		color: var(--footerTitle);
		text-transform: uppercase;
		text-align: start;
		position: relative;
		letter-spacing: -.1rem;

		&::after{
			content: '';
			width: 3rem;
			height: .2rem;
			background: var(--hoverButton);
			@include mixin.position(absolute, null, null, 0, 0);
		}
	}

	&__subtitle{
		color: var(--footerText);
		font-size: clamp(.9rem, 1vw, 1.1rem);
		font-weight: font-weight("500");
		text-align: start;
		margin-bottom: sizing("8");
	}

	&__icon{
		font-size: font-size("variableSubTitle");
		color: var(--footerText);

		&:hover{
			color: var(--hoverButton);
		}
	}

	.fa-solid, .fa-brands{
		margin-right: spacing("8");
	}

	&__copyright{
		width: sizes("full");
		color: var(--spanHome);
		height: sizes("full");
		@include mixin.center(column, center, center);
	}

	@media (max-width: 1150px){
		
		&__container{
			width: sizes("full");
			padding: spacing("32");
		}
	}
	@media (max-width: breakpoints("smartphone")) {

		&__secondCont{
			@include mixin.center(row, space-around, flex-start, center, 2rem);
			width: sizes("full");
		}

		&__about{
			display: none;
		}

		&__follow{
			@include mixin.center(column, space-around, flex-end, center, 2rem);
		}

		&__subtitle{
			width: sizes("full") + 10%;
		}

		.fa-solid, .fa-brands{
			margin: spacing("8");
		}

	}
	@media (max-width: breakpoints("smartphoneSmall")) {
		
		&__secondCont{
			@include mixin.center(column, space-around, flex-start, center, 2rem);
		}

		&__contact, &__follow{
			@include mixin.center(column, center, center, center, 2rem);
			width: sizes("full");
		}

		&__icons i{
			font-size: font-size("800");
		}
	}
}