@import "../scss/variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
    scroll-behavior: smooth;

    // transition: background 1s;
}

@mixin center($direction: row, $justify: center, $align: center, $text: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    text-align: $text;
    gap: $gap;
}

@mixin position($position: absolute, $top:0, $right: 0, $bottom: 0, $left: 0){
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin button-header(){
    @include center(row, center, center);
    //border: 2px solid red;
    width: 10rem;
    height: 2.5rem;
    position: relative;
    cursor: pointer;
    font-weight: 600;
    background-color: transparent;
    background-image: linear-gradient(var(--hoverButton), var(--hoverButton));
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0% 100%;
    letter-spacing: 0;
    transition: all 1s;


    &::before,
    &::after {
        content: "";
        position: absolute;
        height: .1rem;
        background: var(--hoverLine);
        transition: all .8s ease-in-out;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1; // 2. ADICIONE ESTA LINHA! Garante que as linhas fiquem sobre o fundo.
    }

    &::before {
        top: -.2rem;
    }

    &::after {
        bottom: -.2rem;
    }

    // ... seu código do hover ...
    &:hover {
        background-size: 100% 100%;
        letter-spacing: .5rem;
        color: white;
    }

    &:hover::before,
    &:hover::after {
        width: 100%;
    }
}


